<!DOCTYPE html>
<html>
<head>
  <title>FoodPlace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<% if !user_signed_in? %>
    <%= link_to "Sign in", new_user_session_path, class:"btn btn-primary" %>
  <% end %>

  <% if user_signed_in? %>
    Bine ai venit <%= @user.email %> <%= @user.name %>
    <%= link_to "Profil", edit_user_registration_path, class:"btn btn-primary" %> 
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
  <% end %>

</div>

<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "asert alert-#{name}") %>
<% end %>

<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
